
@import '~nativescript-theme-core/css/core.light.css';

.btn {
    background-color: orangered;
    color: white;
    font-size: 18;
}

GridLayout {
    margin: 15;
    background-color: green;
    border-radius: 20;
}

Label {
    color: white;
    font-size: 18;
    vertical-align: middle;
    text-align: left;
}